REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=""
REDIS_PASS=""

RABBIT_HOST=127.0.0.1
RABBIT_PORT=5672
RABBIT_USER=dev
RABBIT_PASS=dev 

RABBIT_EXCHANGE=task_exchange
RABBIT_QUEUES=["taskapi_queue", "duckbot_queue"]